<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Lixo {% block titulo %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="navbar bg-base-200 shadow-md px-4">
    <div class="flex-1">
        <a href="{{ url_for('index') }}" class="btn btn-ghost text-xl font-bold">E-Lixo</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1 gap-2 font-medium">
            <li><a href="{{ url_for('index') }}">Início</a></li>
            <li><a href="{{ url_for('gestaodedescarte') }}">Pontos de Coleta</a></li>
            <li><a href="{{ url_for('registroderesiduo') }}">Registrar Resíduo</a></li>
            <li><a href="{{ url_for('guiadedescarte') }}">Guia</a></li>
            <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
            <li><a href="{{ url_for('faleconosco') }}">Contato</a></li>
            <li><a href="{{ url_for('login') }}" class="btn btn-neutral btn-sm text-white">Login</a></li>
        </ul>
    </div>
</div>

<main class="flex-grow container mx-auto p-6">
    {% block conteudo %}
    {% endblock %}
</main>

<footer class="footer footer-center p-4 bg-base-300 text-base-content mt-10">
    <aside>
        <p>Copyright © 2026 - Projeto Integrador Ensino Médio</p>
    </aside>
</footer>

</body>
</html>